* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* border: 1px solid yellow; */
}
html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100vh;
  width: 100%;
}
body {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  background-color: rgb(141, 196, 187);
  color: rgb(0, 30, 128);
  margin-top: 2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  text-align: center;
}
h1 {
  text-align: center;
  margin-top: 1.5rem;
  border: 2px solid rgb(0, 30, 128);
  margin-left: 2rem;
  margin-right: 3rem;
}
.que {
  border: 2px solid rgb(0, 30, 128);
  margin: 0.5rem auto;
  width: 10rem;
  font-size: 5rem;
  background-color: grey;
  /* background-color: rgb(83, 202, 53); */
}
h3 {
  margin-top: 1rem;
}
.start {
  text-align: left;
  margin-top: 1rem;
}
button {
  font-size: 1rem;
  font-weight: 800;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem auto;
  background-color: rgb(234, 214, 245);
}
button:hover {
  cursor: pointer;
  color: rgb(119, 101, 226);
}
button:active {
  background-color: rgb(241, 158, 33);
  color: rgb(8, 8, 177);
}
.btnStart {
  margin-top: 1rem;
  margin-left: 2rem;
}
input {
  font-size: 1rem;
  font-weight: 800;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  margin-left: 4rem;
  background-color: rgb(234, 214, 245);
}
