* {
  padding: 0;
  margin: 0 10;
  /* border: 1px solid yellow; */
  background-color: rgb(91, 183, 219);
  font-size: 20px;
}
html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 10%;
}
.sections {
  width: 500px;
  background-color: rgba(0, 0, 255, 0.3);
}
.sect--0 {
  border-radius: 5% 0% 0% 5%;
}
.sect--1 {
  border-radius: 0% 5% 5% 0%;
}

.activePlayer {
  background-color: rgba(0, 0, 255, 0.1);
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 5%;
  background-color: rgba(0, 0, 0, 0);
}

.tSDiv {
  border: 1px solid blue;
  background-color: rgb(135, 206, 235);
  border-radius: 5%;
  margin: 5% 30%;
}

.tSDiv > p {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}
.cSDiv {
  border: 1px solid blue;
  margin: 5% 30%;
  background-color: rgb(135, 206, 235);
  border-radius: 5%;
}
.cSDiv > p {
  font-size: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 800;
}
#p0--Total,
#p1--Total {
  font-size: 4.5rem;
  margin-top: 0%;
  margin-bottom: 25%;
}
.p0--Current,
.p1--Current {
  font-size: 2rem;
}

.realStuff {
  background-color: rgba(106, 122, 108, 0);
  height: 15rem;
  width: auto;
  text-align: center;
  position: absolute;
  border-radius: 5%;
}
.btn {
  font-size: 0.9rem;
  font-weight: 800;
  /* top: 10%; */
}

.dice {
  position: absolute;
  top: 20%;
  left: 15%;
  width: 70%;
  height: auto;
}

.hidden {
  display: none;
}

.newGame {
  position: relative;
  top: 0%;
  left: 0%;
  background-color: rgba(247, 243, 243, 0.8);
  border-radius: 10%;
}

.rollD {
  position: absolute;
  top: 70%;
  left: 2%;
  background-color: rgba(247, 243, 243, 0.8);
  border-radius: 10%;
}
.holdD {
  position: absolute;
  top: 90%;
  left: 23%;
  background-color: rgba(247, 243, 243, 0.8);
  border-radius: 10%;
}

footer {
  margin-top: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  padding-left: 1.5rem;
}
.numb {
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 1.5rem;
}
.winner {
  background-color: lightgreen;
}
